<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>KeepAlive</key>
	<true/>
    <key>EnvironmentVariables</key>
    <dict>
           <key>MINIO_CONFIG_ENV_FILE</key>
           <string>/etc/default/minio</string>
    </dict>
	<key>Label</key>
	<string>homebrew.mxcl.minio</string>
	<key>LimitLoadToSessionType</key>
	<array>
		<string>Aqua</string>
		<string>Background</string>
		<string>LoginWindow</string>
		<string>StandardIO</string>
		<string>System</string>
	</array>
	<key>ProgramArguments</key>
	<array>
		<string>$BREW_PFX/bin/minio</string>
		<string>server</string>
		<string>$MINIO_VOLUMES</string>
		<string>--address=:9000</string>
	</array>
	<key>RunAtLoad</key>
	<true/>
	<key>StandardErrorPath</key>
	<string>$BREW_PFX/var/log/minio.log</string>
	<key>StandardOutPath</key>
  <string>$BREW_PFX/var/log/minio.log</string>
	<key>WorkingDirectory</key>
	<string>$BREW_PFX</string>
</dict>
</plist>

